<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>

<div class="row mainpage-container">
  
<h1>New Quiz</h1>
<h4>Add a new quiz</h4>
  
  <div class="col-md-12">
    
   <%= render 'form' %>
    
  </div>
</div>
