

<div class="row mainpage-container">
  <div class="col-md-12">
        <h1><%= @quiz.title %></h1>
        <% @quiz.questions.each do |question| %>
        	<h4><%= question.question_title %></h4>
        	<% @answersForQuiz = AnsweredQuestion.where(quiz_id: @quiz.id, question_id: question.id, user_id: current_user.id).first %>
        	<% @correctAnswer = question.answers.where(correct_answer: true).first %>

        	<% question.answers.each do |answer| %>
        	<% if(@correctAnswer.id == answer.id && @correctAnswer.id == @answersForQuiz.answer_id) %>
        	<div style="color:green;">
        		<%= answer.answer_title %>
        	</div>
        	<% else %>
        	<div>
            <%= answer.answer_title %><br>


        	</div>
        	<% end %>
        	<% end %>
        <% end %>
  </div>
</div>