<% provide(:title, @answered_questions.title) %>
<div class="row mainpage-container">
  <div class="col-md-12">
      <h1>
        <% @answered_questions.questions.each do |question| %>
          <h4><%= question.question_title %></h4>
          <% question.answers.each do |answer| %>
            <%= answer.answer_title %>
          <% end %>
        <% end %>
      </h1>
  </div>
</div>