<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>

<div class="background-container">

<div class="background-container-text">
  
<h1>Create an admin</h1>
  
</div>
  
</div>

<div class="row signup-container">
  <div class="col-md-12">
    
   <%= render 'admin_form' %>
    
  </div>
</div>
