<% provide(:title, @user.name) %>
<div class="row mainpage-container">
  <div class="col-md-12">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>

        <br><br>

        <%= pluralize(current_user.answered_questions.count, "Answered Questions") %>
        <%= current_user.answered_questions.first %>
      </h1>
  </div>
</div>