<% provide(:title, @user.name) %>
<div class="row mainpage-container">
  <div class="col-md-12">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>

        <br><br><br>


        <% @all_quizzes.each do |quiz| %>

        <%= link_to quiz.title, results_quiz_path(quiz.id) %><br>

        <% end %>

      </h1>
  </div>
</div>