    <header class="navbar navbar-fixed-top">
      <div class="page-container navbar-container">

        <%= link_to root_path, id: "logo" do %>
        <%= image_tag "logo.png" %>
        <% end %>
        
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>